<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Inputs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="scss/_utilities.scss.">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <form action="/newOrder" method="post">

     <label for="meal_ordered"> MEAL ORDERED</label><br>
     <select name="meal_ordered" style="width: 100%;">
        <option value="">MEAL ORDERED</option>
        <% for (let i = 0; i < mealsData.length; i++ ) { %>
        <option value="<%= mealsData[i].meal_name %>"><%= mealsData[i].meal_name %></option>
        <% } %>
     </select> <br><br>

     <label for="stud_fn"> STUDENT FIRSTNAME</label><br>
     <input type="text" name="stud_fn" id="stud_fn"   class="form-control"><br><br>

     <label for="stud_ln"> STUDENT LASTNAME</label><br>
     <input type="text" name="stud_ln" id="stud_ln"   class="form-control"><br><br>
     
     <label for="location">LOCATION</label>
     <select name="location" style="width: 100%" >
        <option value="">SELECT LOCATION</option>
        <% for (let i = 0; i < locationsData.length; i++) { %>
            <option value="<%= locationsData[i].location %>"><%= locationsData[i].location %></option>
        <% } %>
    </select> <br><br>

     <!-- <label for="status"> STATUS</label><br>
     <select name="status" style="width: 100%;"><br><br>
        <option value="">EATEN OR NOT</option>
        <% for (let i = 0; i < data.length; i++) { %>
            <option value="<%= data[i].status %>"><%= data[i].status %></option>
        <% } %>
    </select><br><br> -->

    <button type="submit" class="btn btn-danger">SUBMIT</button>

    </form>
</body>
</html>